<section class="orders-show">
  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>
  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <h5>Here are your order details:</h5>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <%= render 'item' %>
      </tbody>
    </table>
    <div>
      <p>Total Order amount: <%= humanized_money_with_symbol @order.total_cents / 100.0 %></p>
      <p>Email used: <%=@order.email%></p>
    </div>
  </div>
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
</section>
